body {
	background-color: #222;
	color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #ccc;
	text-decoration: none;
}
a:hover {
	color: #c0c;
}

#header {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
}

#content {
	color: #333;
}

#content a {
	color: #006;
}
#content a:hover {
	color: #c0c;
}

.section {
	margin-bottom: 3px;
}

.section-title {
	font-size: 1.1em;
	padding: 2px;
	padding-left: 10px;
	background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
	margin-bottom: 3px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	/* border-top: 1px solid #333; */
}

.sub-section {
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	margin-bottom: 10px;
}

.sub-section ul {
	list-style-type: none;
	margin: 0;
	padding-left: 5px;
}

.section-title, .sub-section-title {
	font-weight: bold;
}

.sub-section-title {
	text-align: center;
	margin-left: 3px;
	margin-right: 3px;
}

hr {
	width: 90%;
	margin: 4px auto 4px auto;
	border: none;
	background-color: rgba(0, 0, 0, 0.3);
	height: 1px;
}

.section:nth-child(1) {
	background-color: hsl(0, 65%, 65%);
}
.section:nth-child(2) {
	background-color: hsl(120, 65%, 65%);
}
.section:nth-child(3) {
	background-color: hsl(240, 65%, 65%);
}

.sub-section {
	font-size: 0.9em;
	font-family: Consolas, Monaco, "Courier New", Courier, monospace;
}

.sigs {
	position: absolute;
	background-color: #ccc;
	padding: 3px;
}
